{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block body %}
  <main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="jumbotron-heading">Password reset complete</h1>
        <p class="lead text-muted">Your password has been set. You may go ahead and log in now.</p>
        <a href="{% url 'accounts:login' %}">Login</a>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
      </div>
    </section>
  </main>
{% endblock %}