{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block body %}
  <main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="jumbotron-heading">Password reset sent</h1>
        <p class="lead text-muted">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
        <p class="lead text-muted">If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
      </div>
    </section>
  </main>
{% endblock %}