{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block body %}
<main role="main">
  <section class="jumbotron  ">
    <div class="container">
      <h1>Profile</h1>
      <p>Username : {{ user }}</p>
      <p>First Name : {{ user.first_name }}</p>
      <p>Last Name : {{ user.last_name }}</p>
      <p>Email : {{ user.email }}</p>
      <p>Description : {{ user.userprofile.description }}</p>
      <p>Phone : {{ user.userprofile.phone }}</p>
      <p>City : {{ user.userprofile.city }}</p>
      <p>Website : {{ user.userprofile.website }}</p>
      {% if user.userprofile.image %}
        {# Prevent E: The 'image' attribute has no file associated with it. it because user doesn't have image #}
        <img src="{{ user.userprofile.image.url }}" width="240">
      {% endif %}
    </div>
  </section>
</main>
{% endblock %}