{% extends "base.html" %}

{% block title %}
	Complete Blog (( version ))
	{% if subtitle %}:{% endif %}
	{{ subtitle }}
{% endblock %}

{% block header1 %}
	{% if subtitle %}
		<a href="/blog/">Complete Blog {{version}}</a>
	{% else %}
		Complete Blog {{version}}
	{% endif %}
{% endblock %}

{% blovk header2 %}
	{{ subtitle }}
{% endblock %}

{% block main %}
	{% for post in post_list %}
	<h3><a href="/blog/{{ post.date_created|date:"Y/m" }}/{{ post.slug }}/"> {{post.title }} </a></h3>
	{{ post.body }}
	<hr>
	<div class="post_footer">
		{% ifnotequal post.date_modified.date post.date_created.date %}
			Last modified: {{ post.date_modified.date }}<br>
		{% endifnotequal %}
		Date created: {{ post.date_created.date }}<br>
		Tags:
		{% for tag in post.get_tag_list %}
			<a href="/blog/tag/{{ tag }}/">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
		{% endfor %}
	</div>
	<br>
	{% endfor %}
{% endblock %}